<div class="left-panel">
  <nav class="navbar navbar-dark">
    <div id=title>
      <img src="https://avatars1.githubusercontent.com/u/40771140?s=200&v=4" /> Power Export <b>Blue</b>
      <span role="button" class="versionBtn" tabindex="-1">
        <span>v2.3.2</span>
      </span>
    </div>
  </nav>
  <hr class="sidebar-divider my-0 bg-light">
  <div class="container leftsidebar">
    <div class="row">
      <nav class="d-none d-md-block sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item test">
              <a class="nav-link" routerLink='dummydata'><span> What is PX Blue?</span></a>
            </li>
            <li class="nav-item test">
              <a class="nav-link" routerLink='dummydata'><span> Starting a Project</span></a>
            </li>
            <li class="nav-item test">
              <a class="nav-link " routerLink='dummydata'><span> Developing w/ PX Blue</span></a>
            </li>
            <li class="nav-item test">
              <a class="nav-link" routerLink='dummydata'><span> Style Guide</span></a>
            </li>
            <li class="nav-item test">
              <a class="nav-link" routerLink='dummydata'><span> Community</span></a>
            </li>
            <li class="nav-item test" routerLinkActive="activeItom" [routerLinkActiveOptions]="{exact:true}">
              <a class="nav-link" routerLink=''><span> Resources</span></a>
            </li>
            <li class="nav-item test">
              <a class="nav-link" routerLink='dummydata'><span> Release Notes</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>