<div>
  <div class="header-panel">
    <app-header></app-header>
  </div>
  <div class="container right-panel">
    <div id="title">
      Power Xpert Blue Resources
    </div>
    <div>
      Power Xpert Blue offers a number of resources for developers, available through NPM and Github. These include utility packages as well as sample code/design pattern examples.
    </div>
    <div id="subtitle">
      NPM Packages
    </div>
    <div>
      The following table shows the current status for PX Blue resources available through NPM.
    </div>
    <div>
      <app-table></app-table>
    </div>
    <div id="subtitle">
      Design Patterns / Examples
    </div>
    <div>
      The following table shows the current status of the PX Blue design pattern code samples available from GitHub. There are also links to running examples with live-editing capability.
    </div>
  </div>
</div>